*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html{
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
body{
  position: relative;
  background-color: #FFF;
}
a{
  text-decoration: none;
  color: #0f0f0f;
}
.contactBtn{
  width: 150px;
  height: 40px;
  border: 0;
  border-radius: 1em;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  background: #3b8cfd;
  color: #FFF;
}
.contactBtn:hover{
  background: #006aff;
}
.contactBtn:active{
  color: gray;
}
.header{
  max-width: 1920px;
  height: 750px;
  margin: 0 auto;
}
.header .navlogo{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}
.header .navlogo img{
  width: 120px;
}
.header .navlogo h2{
  margin-top: -15px;
  margin-bottom: -10px;
  font-size: 45px;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#lang{
  border: 0.5px solid rgb(193, 190, 190);
}
.navbarshadow{
  width: 100%;
  max-width: 1920px;
  height: 75px;
  position: fixed;
  z-index: 5;
  background: #FFF;
  box-shadow: 1px 1px 10px gray;
}
.navbar{
  width: 100%;
  max-width: 1920px;
  height: 75px;
  position: fixed;
  z-index: 5;
  background: #FFF;
  transition: 200ms;
}
.nav-cont{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}
.navlist{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aboutus{
  max-width: 1920px;
  height: 700px;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.heroText{
  width: 50%;
  margin-left: 50px;
}
.heroText-main{
  font-size: 55px;
}
.heroText-p{
  font-size: large;
}
.heroImg{
  width: 50%;
}
.heroImgMain{
  width: 100%;
}















.aboutus{
  max-width: 1920px;
  padding-top: 250px;
  margin: 0 auto;
  overflow-x: hidden;
  
}
.aboutus h2{
  margin-left: 50px;
}
.info-icons{
  width: 70px;
  padding-bottom: 10px;
  border-radius: 1em;
}
.info-head{
  font-family: sans-serif;
  font-size: 25px;
  color: #011e2b;
  margin-bottom: 10px;
}
.info-p{
  font-size: 15px;
  color: #011e2b;
  width: 70%;
  text-align: center;
}
.infoList-items{
  width: 25%;
  height: 300px;
  /* border: 0.5px solid; */
  border-radius: 1em;
  box-shadow: 4px 2px 7px gray;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 500ms;
}
.infoList-items:hover{
  box-shadow: 2px 4px 10px gray;
}
.infoList{
  display: flex;
  justify-content:space-around;
  align-items: start;
  margin-top: 50px;
  list-style: none;
}


















.contact{
  max-width: 1920px;
  width: 95%;
  height: 600px;
  margin: 50px auto;
  border: 1px solid;
  padding-top: 110px;
  background: url(/thirds.jpg) 0px -130px no-repeat;
  background-size: cover;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.contact-cont{
  width: 40%;
  margin-left: 40%;
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  
}
.contact-head{
  font-size: 30px;
  color: #011e2b;
  margin-top: 30px;
  margin-bottom: 35px;
}
.contact-p{
  font-size: 20px;
  margin-bottom: 170px;
  color: #011e2b;
}
.contact-cont .contactBtn{
  margin-left: 90%;
  background: #FFF;  
  font-family: "Playwrite BE VLG", cursive;
}




















.services{
  max-width: 1920px;
  margin: 0 auto;
  padding: 170px 20px;
  overflow-x: hidden;
  margin-bottom: 150px;
}
.service-p-text{
  margin-left: 50px;
  font-size: 25px;
  color: #011e2b;
  width: 40%;
  font-weight: 500;
}
.service-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  
}
.service-list-items{
  width: 100%;
  border-radius: 1em;
  border: 2px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.service-list-items img{
  margin: 10px;
  width: 230px;
  border-radius: 100%;
  background-color: #FFF;
}
.serv-item-left{
  border-radius: 1em;
  margin-right: 50px;
}
.serv-item-right h2{
  font-size: 35px;
  color: #011e2b;
}
.serv-item-right p{
  font-size: larger;
  font-weight: lighter;
  color: #011e2b;
}

















.serviceList{
  max-width: 1920px;
  margin: 0 auto;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style: none;
  overflow: hidden;
}
.serviceList-item{
  width: 350px;
  height: 450px;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  transition: 500ms;
  box-shadow: 3px 0px 3px gray;
  position: relative;
}
.serviceList-item:hover{
  box-shadow: 5px 5px 7px gray;
}
.servList-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 50px;
  
}
.servList-footer img{
  width: 150px;
  border-radius: 50%;
}




.serviceList-textCont{
  max-width: 1920px;
  margin: 70px auto;
  
}
.serviceList-text{
  font-size: 55px;
  margin-left: 50px;
}




















.guarant{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 200px auto;
  margin-bottom: 0;
  border-radius: 2em;
  padding: 1em 5em;
  overflow-x: hidden;
  box-shadow: 2px 2px 10px gray;
}
.g-container{
  max-width: 1920px;
  height: 550px;
  margin: 0 auto;
}
.ACE{
  width: 500px;
  border-radius: 2em;
}
.guarant-cont{
  width: 50%;
  background: none;
}
.guarant-cont img{
  background: none;
}
.guarant-cont h2{
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}





























.FAQ{
  max-width: 1920px;
  margin: 250px auto;
  padding: 150px 20px;
  overflow-x: hidden;
}
.Faq-text{
  font-size: 40px;
  font-weight: 700;
  color: #011e2b;
  margin-left: 20px;
}
.accordion{
  background: none;
  border: none;
  *{
    background: none !important ;
  }
}
.accordion-item{
  background: none;
  border: none;
}
.accordion-header{
  background: none;
}
.accordion-button{
  background: none;
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-color);
}
.accordion-button[aria-expanded="true"]{
  color: var(--primary-color);
}
.accordion-button[aria-expanded="false"]{
  color: var(--primary-color);
}
.accordion-body{
  font-size: larger;
  color:#011e2b;
}


























.tellus{
  max-width: 1920px;
  width: 95%;
  height: 600px;
  margin: 0 auto;
  border-radius: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  border-radius: 2em;
  box-shadow: 2px 2px 10px gray;
}
.tellus img{
  border-radius: 2em;
}
.tell-cont{
  width: 45%;
  height: 66%;
  text-align: center;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.tell-cont h2{
  font-size: 40px;
  font-weight: 700;
  color: #011e2b;
  margin-bottom: 50px;
}
.tell-cont input{
  width: 80%;
  height: 40px;
  border: 0.5px solid #011e2b;
  border-radius: 0.5em;
  margin-bottom: 10px;
  padding: 10px;
}
.sendBtn{
  width: 50%;
  height: 45px;
  border-radius: 1em;
  cursor: pointer;
  background: #3b8cfd;
  color: #FFF;
  border: none;
  font-size: larger;
  font-weight: 600;
}
.sendBtn:hover{
  cursor: pointer;
  background: #006aff;
  color: #FFF;
}
.sendBtn:active{
  color: gray;
}






















.footer{
  max-width: 1920px;
  margin: 50px auto;
  padding-top: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 150px;
  overflow-x: hidden;
  
}
.footer .navlogo{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
}
.footer .navlogo img{
  width: 120px;
}
.footer .navlogo h2{
  margin-top: -15px;
  margin-bottom: -10px;
  font-size: 45px;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.address-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.address-cont img{
  background-color: #FFF;
  border-radius: 50%;
}
.address-cont p{
  margin-top: 15px;
  margin-left: 20px;
}
.tele-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.tele-cont img{
  background-color: #FFF;
  border-radius: 50%;
}
.tele-cont p{
  margin-top: 15px;
  margin-left: 20px;
}